{% extends 'base.html.twig' %}

{% block title %}Paroisse | S'ouvrir aux autres{% endblock %}

{% block body %}

<div>
    <div>
        {% for event in events %}
            {% if event.pages %}
                {% if event.image %}
                    <img src="{{ asset('/img/event/' ~ event.image ~ '') }}" class="image-event">
                {% endif %}
                <div class="infos">
                    <h3>{{ event.intitule }}</h3>
                    <p>
                        {{ event.dateEvent | date('d/m/Y') }} | {{ event.dateEvent | date('H:i') }}
                    </p>
                    <p>
                        {{ event.description }}
                    </p>
                </div>
            {% endif %}
            <button class="modify">
                <a href="{{ path('edit_event', {'id': event.id}) }}">Modifier</a>
            </button>
            <button class="delete">
                <a href="{{ path('suppr_event', {'id': event.id}) }}">Supprimer</a>
            </button>
        {% endfor %}
    </div>
</div>

{% endblock %}